<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
</head>
<body>
<p>Hello world!</p>
Enter parameters to search article:
<form action="/laba2/home" method="post">

    <!--<span>Keyword:</span><input type="text" name="q" /> <br/> -->

    <span>From:</span> <input type = "date"  name="from"> <br/>
    <span>To:</span> <input type = "date"  name="to"> <br/>

    <span>Select Category:</span> <br/>
 <!--   <select size="1" name="category">
        <option selected value=""></option>
        <option  value="technology">technology</option>
        <option  value="sports">sports</option>
        <option  value="entertainment">entertainment</option>
        <option  value="health">health </option>
        <option  value="science">science </option>
        <option  value="business">business  </option>
    </select><br/>
-->
        <input type="checkbox" id="technology" name="category" value="technology">
        <label for="technology"> technology</label><br>
        <input type="checkbox" id="sports" name="category" value="sports">
        <label for="sports"> sports</label><br>
        <input type="checkbox" id="entertainment" name="category" value="entertainment">
        <label for="entertainment">entertainment</label><br>
        <input type="checkbox" id="health" name="category" value="health">
        <label for="health">health</label><br>
        <input type="checkbox" id="science" name="category" value="science">
        <label for="science">science</label><br>
        <input type="checkbox" id="business" name="category" value="business">
        <label for="business">business</label><br>
        <input type="checkbox" id="all" name="category" value="">
        <label for="all">all</label><br>

    <span>Language:</span>
    <select size="1" name="country">
        <option selected value=""></option>
        <option selected value="ua">UA</option>
        <option  value="ru">RU</option>
        <option  value="us">US</option>
    </select><br/>
    <input type="submit" value="Ok"/>

</form>

<p><textarea th:text="${description}" rows="10" cols="45" name="desc"></textarea></p>

<form action="/laba2/save" method="post" >
    <input type="submit" value="Save"/>
</form>


</body>
</html>